services:
  venux-web:
    # image: venux-assessor:latest (Removed to force build)
    build:
      context: .
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_PUBLISHABLE_KEY=${VITE_SUPABASE_PUBLISHABLE_KEY}
        - VITE_STRIPE_PUBLISHABLE_KEY=${VITE_STRIPE_PUBLISHABLE_KEY}
    networks:
      - inoovawebpro
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.venux-https.rule=Host(`venuxacessor.inoovaweb.com.br`)
      - traefik.http.routers.venux-https.entrypoints=websecure
      - traefik.http.routers.venux-https.tls.certresolver=letsencryptresolver
      - traefik.http.routers.venux-https.service=venux
      - traefik.http.services.venux.loadbalancer.server.port=80
      - venux.version=1.0.3

networks:
  inoovawebpro:
    external: true
    name: inoovawebpro
