services:
  venux-web:
    image: ghcr.io/balbiss/remix-of-inoova-finance-hub:latest
    # build section removed for Swarm compatibility
    networks:
      - inoovawebpro
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      labels:
        - traefik.enable=true
        - traefik.http.routers.venux-https.rule=Host(`venuxacessor.inoovaweb.com.br`)
        - traefik.http.routers.venux-https.entrypoints=websecure
        - traefik.http.routers.venux-https.tls.certresolver=letsencryptresolver
        - traefik.http.routers.venux-https.service=venux
        - traefik.http.services.venux.loadbalancer.server.port=80
        - venux.version=1.0.3

networks:
  inoovawebpro:
    external: true
    name: inoovawebpro
